@model ParkingWeb.ViewModels.IncassiAttualiViewModel

@{
    ViewData["Title"] = "Incassi Attuali";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="get" asp-action="IncassiAttuali">
    <p style="position:relative; left:635px"/>
</form>

<div>
    <h4>Incassi Attuali</h4>
    <hr />
    <table class="table table-light table-bordered" style="width:100%">
        
            @if (Model.IncassoAttuale != null)
            {
                <tr>
                    <th>Giorno</th>
                    <th>Nome del Parcheggio</th>
                    <th>Incasso</th>
                </tr>
                <tr>
                    <th>@Model.IncassoAttuale.Giorno.ToShortDateString()</th>
                    <th>@Model.IncassoAttuale.NomeParcheggio</th>
                    <th>@Model.IncassoAttuale.IncassoTotale €</th>
               </tr>
            }
            else
            {
                 <p style=" text-align: center; font-weight:700;">Per il momento non e' uscito nessun veicolo</p>
            }
    </table>

</div>

<div style="margin-top: 50px">
    <h4>Veicoli Usciti</h4>
    <hr />
    <table class="table table-light table-bordered" style="width:100%">

            @if (Model.VeicoliUscitiOggi != null)
            {
                <tr>
                    <th>Targa</th>
                    <th>Data Entrata</th>
                    <th>Data Uscita</th>
                    <th>Tariffa</th>
                    <th>Tipo Veicolo</th>
                    <th>Nome Parcheggio</th>
                    <th>Proprietario</th>
                </tr>
                @foreach (var v in Model.VeicoliUscitiOggi)
                {
                    <tr>
                        <th>@v.Targa</th>
                        <th>@v.DataOrarioEntrata</th>
                        <th>@v.DataOrarioUscita</th>
                        <th>@v.Tariffa</th>
                        <th>@v.TipoVeicolo</th>
                        <th>@v.NomeParcheggio</th>
                        <th>@v.Propietario</th>
                    </tr>
                }
            }
            else
            {
                 <p style=" text-align: center; font-weight:700;">Per il momento non e' uscito nessun veicolo</p>
            }
        
    </table>

</div>