@model ParkingWeb.ViewModels.ParcheggioDetailsModel

@{
    ViewData["Title"] = Model.NomeParcheggio;
}

<h1>Proprietario</h1>
<div>
   
</div>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proprietario_Macchine.Persona.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proprietario_Macchine.Persona.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proprietario_Macchine.Persona.Cognome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proprietario_Macchine.Persona.Cognome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proprietario_Macchine.Persona.DataNascita)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proprietario_Macchine.Persona.DataNascita)
        </dd>
    </dl>
    @if(Model.Identificativo)
    {
        <a href="http://localhost:34483/VisualizzaProprietari/@Model.NomeParcheggio">
            Ritorna alla lista
        </a>
    }
</div>

<div>
    <h4>Veicoli</h4>
    <hr />
    <table class="table table-bordered  table-hover">
        <tr>
            <th>Targa</th>
            <th>Marca</th>
            <th>Modello</th>
            <th>Tipo Veicolo</th>
        </tr>
        @foreach (var d in Model.Proprietario_Macchine.Veicoli)
        {
            <tr>
                <td>@d.Targa</td>
                <td>@d.Marca</td>
                <td>@d.Modello</td>
                <td>@d.TipoVeicolo</td>              
            </tr>
        }
    </table>
</div>


<div>
</div>
